


body{
  background:black;
  background-image: url(../src/image/various-spooky-halloween-pumpkin-carving.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}